 .nav{
    align-items: center;
    display:flex;
    border: 1px solid green;
} 
a{
    text-decoration: none;
}
a:hover{
    color: orangered;
    text-decoration: underline;
}
.search{
    display:inline;
    width: 50px;
    opacity:20%;
    border: 1px solid green;
    margin-top: 0px;
   
}
.socials{
    display: inline-flex;
    left:12em;
    position: relative;
    margin-top: 2px;
    border: 1px solid green;
}
a{
    color: #fff;
}
#Links{
    display:inline-flex;
    margin-left: 120px;
    gap: 50px;
    font-size: 25px;
    padding-top: 0px;
    border: 1px solid green;

} 
input{
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    border-radius:30px;
    position: relative;
    width: 15em;
    top:45px;
    left:1em;
    border: 1px solid green;
}
.text{
    position: absolute;
    text-align: left;
    top:15em;
    left: 65em;
    color: red;
    border: 1px solid green;
}
body{
    background-image: url("hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#tag{
    color:#fff;
    font-size: 25px;
    border: 1px solid green;

}
p{
    font-size: 35px;
    font-weight: bolder;
    display: inline;
    border: 1px solid green;
}
#line1{
    color: #fff;
}
#line3{
    color: #fff;
}
#line2{
    color:red
}
button{
   background:red;
   padding: 10px 24px;
   border-radius: 50%;
   color: #fff;
   font-size: larger;
   font-weight: bolder;
   border: 1px solid green;
}
.btn:hover{
    background-color: rgb(50, 49, 49);
    cursor: pointer;
    box-sizing: inherit;
    
}
#img1{
    height:100px;
    width:100px;
    display:inline;
    margin-left: 20px;


}
.search:hover{
    opacity:100%;
    background-size: 52px;
}
#img1{
    border-radius: 50%;
    position:relative;
    height:70px;
    width: 60px;
    display:inline;
    margin-left: 30px;

}